.list {
  display: flex;
  color: white;
  min-height: 100%;
  margin-top: 60px;
  justify-content: flex-start;
}

ul {
  gap: 10px;
  padding: 0;
  width: 100%;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);
}

li {
  margin: 5px;
  height: 255px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 8px 14px 14px;
  flex-direction: column;
  justify-content: center;
  background: rgb(70, 215, 255, .75);
  border: 1.5px solid rgba(255, 255, 255, .2);
  box-shadow: 22px 22px 42px #15b0dc, -22px -22px 42px #19d7ff;
  background:
    linear-gradient(0deg,
      rgba(70, 215, 255, .65) 0%,
      rgba(70, 215, 255, .85) 100%);
}

li img {
  width: 135px;
  margin-bottom: 14px;
}

li section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

li button {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: none;
  font-weight: 600;
  border-radius: 50%;
  background: rgba(255, 255, 255, .25);
}

li button:hover {
  background: rgb(155, 230, 255);
}

li button:active {
  transform: scale(0.92);
}

@media only screen and (min-width: 800px) {
  .list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1000px) {
  .list ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1300px) {
  .list ul {
    grid-template-columns: repeat(4, 1fr);
  }
}