

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #282B28;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

nav {
  background-color: none;
  box-shadow: none;
}

nav > ul {
  background-color: #5C7276;
  margin: 0;
  padding: 16px 32px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

nav li {
  height: 30px;
  margin: 5px;
}

nav li:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}






